<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>
<h1> 여기에 글 띄울 예정</h1>
<p>아래 #num과 content 띄운 것처럼 함 </p>
<h3> 작성할 거면 아래 버튼을 눌러서 작성 폼으로 들어갈 예정</h3>
<button type="button" onclick="location.href='http://localhost:8091/write' ">Write Post</button>

<div style="margin-left:auto">
    <table>
        <thead>
        <tr>
            <th> # </th>
            <th> Content </th>

        </tr>

        </thead>


        <tbody>

        <tr th:each="board : ${list}">
            <td th:text="${board.id}"> 1</td>
            <td th:text="${board.title}"> 제목</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
